:root {
  --black: #08080c;
  --blackLight: #141414;
  --white: #f5f5f5;
  --grayLight: #cccccc;
  --gray: #a3a3a3;
  --grayDark: #666666;
  --grayDarkest: #3d3d3d;

  --navy: #3b3b54;
  --navyLight: #66668f;
  --navyLighter: #ababc4;
  --navyDark: #222230;
  --navyDarker: #101018;

  --magenta: #80475e;
  --magentaLight: #b77b93;
  --magentaLighter: #cca3b3;
  --magentaLightest: #e9d8de;
  --magentaDark: #5b3441;
  --magentaDarker: #27161c;

  --blush: #cc5a71;
  --blushLight: #dd92a1;
  --blushLighter: #ebc1c9;
  --blushLightest: #e9d8de;
  --blushDark: #9a3245;
  --blushDarker: #5c1e29;

  --buff: #c89b7b;
  --buffLight: #d5b39a;
  --buffLighter: #e7d3c5;
  --buffDark: #ad7248;
  --buffDark2: #96633e;
  --buffDarker: #734c30;
  --buffDarkest: #2b1d12;

  --icterine: #f0f757;
  --icterineLight: #f6fa9e;
  --icterineLighter: #fbfdd8;
  --icterineDark: #cbd50b;
  --icterineDarker: #818807;
  --icterineDarkest: #373a03;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat.woff2") format("woff2");
}

@font-face {
  font-family: "RobotoReg";
  src: url("/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "RobotoThin";
  src: url("/Roboto-Thin.woff") format("woff");
}

@font-face {
  font-family: "RobotoMed";
  src: url("/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "RobotoBlack";
  src: url("/Roboto-Black.woff2") format("woff2");
}

@font-face {
  font-family: "RobotoBold";
  src: url("/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "SanGiuseppe";
  src: url("/SanGiuseppe.woff2") format("woff2");
}

* {
  margin: 0;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #222230;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #f1f1f154;
  }
}
